
**/objs/
**/myrepo/
**/.flatpak-builder/
**/build-dir/
build-staticlibs/
.vs/
build/Android*
build/Desktop_Qt*


/**/*.user
/**/*.a
/**/*.d
/**/*.o
/**/*.so
/**/*.so.*
/**/*.obj
/**/*.idx
/**/*.json


