
[Desktop Entry]
Version=1.0.12
Type=Application

Name=NoLimitConnect
Comment=Social Network
Categories=Network;Graphics

Icon=com.nolimitconnect.NoLimitConnect.png
Exec=nolimitconnect
Terminal=false


