
[Desktop Entry]
Version=v1.01.00
Type=Application

Name=NoLimitConnect
Comment=Social Network
Categories=Network;Graphics

Icon=com.nolimitconnect.NoLimitConnect.png
Exec=nolimitconnect
Terminal=false


