[Desktop Entry]
Version=1.0
Type=Application

Name=NoLimitConnect
GenericName=Social Networking Platform
Comment=Decentralized social networking, messaging, and media sharing

Categories=Network;Chat;InstantMessaging;VideoConference;

Icon=org.nolimitconnect.NoLimitConnect
Exec=nolimitconnect
Terminal=false
StartupWMClass=NoLimitConnect



